scene_transformer:
  _target_: models.scene_transformer.SceneTransformer
  representation_dim: ${representation_dim}
  device: ${device}
  mask_prob: 0.5
  pos_mask_prob: 0.9
  scene_model:
    _target_: models.scene_models.transformers.Transformer
    dim: ${representation_dim}
    depth: 4
    heads: 8
    dim_heads: 32
    mlp_dim: 256
    dropout: 0.2
    device: ${device}
