view_dataset:
  _target_: dataloaders.habitat_loaders.HabitatViewDataset
  habitat_scenes:
    - /private/home/notmahi/data/replica_dataset/room_0/habitat/mesh_semantic.ply
    # - /private/home/notmahi/data/replica_dataset/room_1/habitat/mesh_semantic.ply
    # - /private/home/notmahi/data/replica_dataset/room_2/habitat/mesh_semantic.ply
  pose_extractor_grid_size: 5
  height_levels: 3
  image_size:
    - ${image_size}
    - ${image_size}
  canonical_object_ids: false

xyz_dataset:
  _target_: dataloaders.habitat_loaders.HabitatLocationDataset
  habitat_view_ds: ???  # Filled in with view dataset in runtime.
  subsample_prob: 0.02
