defaults:
  - _self_
  - scene: apt_2
  - override hydra/launcher: submitit_slurm

device: cuda
use_cache: True
point_batch_size: 12544
model_type: hash

seed: 42
epochs: 1000
exp_decay_coeff: 0.5
image_to_label_loss_ratio: 1.0
label_to_image_loss_ratio: 1.0
instance_loss_scale: 5.0
label_voxel_count: 3e6
dataparallel: false

# Number of ground truth labeled images
num_inst_segmented_images: 5
num_sem_segmented_images: 0
num_web_segmented_images: 0
gt_segmentation_baseline: false
deterministic_id: true

# Cache only runs are for building per-dataset caches, which can be used for multi-run later.
cache_only_run: false

save_directory: "habitat_{}_detic_lseg_labels_${scene.image_size}_px_${num_inst_segmented_images}_${num_sem_segmented_images}_${num_web_segmented_images}"

web_models:
  clip: "ViT-B/32"
  sentence: "all-mpnet-base-v2"

hydra:
  job:
    name: ${scene.base}
  run:
    dir: outputs/${scene.base}/${now:%Y-%m-%d}/${now:%H-%M-%S}_${num_inst_segmented_images}_${num_sem_segmented_images}_${num_web_segmented_images}
  sweep:
    dir: multirun/${scene.base}/${now:%Y-%m-%d}/${now:%H-%M-%S}_${num_inst_segmented_images}_${num_sem_segmented_images}_${num_web_segmented_images}
  sweeper:
    params:
      scene: hm3d_00250,hm3d_00732,hm3d_00263
      # num_sem_segmented_images: 0
      num_sem_segmented_images: 0,6,12,24,48,96
      num_web_segmented_images: 0,5,15,45,135
  launcher:
    timeout_min: 1440
    # timeout_min: 70
    cpus_per_task: 10
    gpus_per_node: 1
    tasks_per_node: 1
    mem_gb: 96
    nodes: 1
    name: ${hydra.job.name}
    _target_: hydra_plugins.hydra_submitit_launcher.submitit_launcher.SlurmLauncher
    signal_delay_s: 120
    max_num_timeout: 5
    additional_parameters: {}
    array_parallelism: 256
    setup: null
    partition: scavenge
